doctype html
html
meta
head
  link(rel='stylesheet', href='/static/styles.css', type='text/css')
.container
  .row
    #1.testilk
    #2.col.s1
    #3.col.s1
    #4.col.s1
    #5.col.s1
  .row
    #6.col.s1
    #7.col.s1
    #8.col.s1
    #9.col.s1
    #10.col.s1
  .row
    #11.col.s1
    #12.col.s1
    #13.col.s1
    #14.col.s1
    #15.col.s1
  .row
    #16.col.s1
    #17.col.s1
    #18.col.s1
    #19.col.s1
    #20.col.s1
  .row
    #21.col.s1
    #22.col.s1
    #23.col.s1
    #24.col.s1
    #25.col.s1
//
  <table id="board">
  <tr>
  <td id="1"></td>
  <td id="2"></td>
  <td id="3"></td>
  <td id="4"></td>
  <td id="5"></td>
  </tr>
  <tr>
  <td id="6"></td>
  <td id="7"></td>
  <td id="8"></td>
  <td id="9"></td>
  <td id="10"></td>
  </tr>
  <tr>
  <td id="11"></td>
  <td id="12"></td>
  <td id="13"></td>
  <td id="14"></td>
  <td id="15"></td>
  </tr>
  <tr>
  <td id="16"></td>
  <td id="17"></td>
  <td id="18"></td>
  <td id="19"></td>
  <td id="20"></td>
  </tr>
  <tr>
  <td id="21"></td>
  <td id="22"></td>
  <td id="23"></td>
  <td id="24"></td>
  <td id="25"></td>
  </tr>
  </table>
#pbarb.progress
  #pbar.determinate
div
  p#vuoro Pelaaja X aloittaa
  p#pelaajan
  button#reset(;='') RESET!
script.
  //Joo tässä tulee iso läjä voitto ehtoja. s
  var voittolista = [];
  var v1 = [1, 2, 3, 4, 5];
  var v2 = [6, 7, 8, 9, 10];
  var v3 = [11, 12, 13, 14, 15];
  var v4 = [16, 17, 18, 19, 20];
  var v5 = [21, 22, 23, 24, 25];
  var v6 = [1, 6, 11, 16, 21];
  var v7 = [2, 7, 12, 17, 22];
  var v8 = [3, 8, 13, 18, 23];
  var v9 = [4, 9, 14, 19, 24];
  var v10 = [5, 10, 15, 20, 25];
  var v11 = [1, 7, 13, 19, 25];
  var v12 = [5, 9, 13, 17, 21];
  voittolista.push(v1, v2, v3, v4, v5, v6, v7, v8, v9, v10, v11, v12);
  document.getElementById("pelaajan").innerHTML = "ruudun nro.";
  var ruudut = [
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " "
  ];
  var pelaaja = "X";
  var ruutu = document.getElementsByClassName("col s1");
  var ruutuid = "juu";
  var b = "";
  var round = 1;
  document
  .getElementById("reset")
  .addEventListener("click", uusipeli, false);
  main();
  function main() {
  // Tässä on main funktio, joka lisää klikkaus eventin jokaiselle ruudulle.
  for (var i = 0; i < ruutu.length; i++) {
  ruutu[i].addEventListener("click", muuta, false);
  }
  }
  function muuta() {
  // Muuta funktio aktivoituu klikatessa ruutua, ja se muuttaa merkin pelilaudalla ja lisää sen listaan, josta voidaan tarkistaa löytyykö voittaja.
  ruutuid = this.id;
  if (ruudut[ruutuid - 1] == " ") {
  document.getElementById("pelaajan").innerHTML = ruutuid;
  ruudut[ruutuid - 1] = pelaaja;
  this.innerHTML = pelaaja;
  voitto();
  if (pelaaja == "X") {
  this.classList.add("p1väri");
  pelaaja = "O";
  document.getElementById("vuoro").innerHTML = "Pelaajan O vuoro";
  } else {
  this.classList.add("p2väri");
  pelaaja = "X";
  document.getElementById("vuoro").innerHTML = "Pelaajan X vuoro";
  }
  } else if (ruudut[ruutuid - 1] == "i") {
  document.getElementById("pelaajan").innerHTML = "VOITTO " + pelaaja;
  } else {
  document.getElementById("pelaajan").innerHTML = "siinä on jo merkki";
  }
  move();
  }
  function voitto() {
  // Voitto funktio tallentaa kaikki mahdolliset voitto tapahtumat listoihin ja tallentaa nämä listat isompaan listaan. Näitä listoja se vertaa listaan pöydältä löytyvistä merkeistä ja määrittelee onko peli voitettu.
  var a;
  var b;
  var c;
  var d;
  var e;
  for (var i = 0; i < voittolista.length; i++) {
  a = voittolista[i][0] - 1;
  b = voittolista[i][1] - 1;
  c = voittolista[i][2] - 1;
  d = voittolista[i][3] - 1;
  e = voittolista[i][4] - 1;
  if (
  (ruudut[a] == "X" &&
  ruudut[b] == "X" &&
  ruudut[c] == "X" &&
  ruudut[d] == "X" &&
  ruudut[e] == "X") ||
  (ruudut[a] == "O" &&
  ruudut[b] == "O" &&
  ruudut[c] == "O" &&
  ruudut[d] == "O" &&
  ruudut[e] == "O")
  ) {
  document.getElementById("pelaajan").innerHTML = "VOITTO " + pelaaja;
  ruudut = [
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i",
  "i"
  ];
  for (var i = 0; i < ruutu.length; i++) {
  //ruutu[i].style.backgroundColor= "goldenrod";
  ruutu[i].classList.add("voittoväri");
  }
  if (pelaaja == "X") {
  b = "1";
  } else {
  b = "2";
  }
  alert("Player " + b + " won!");
  } else {
  }
  }
  } //Uusipeli funktio resetoi Kaiken alkupisteeseen jolloin peli alkaa alusta.
  function uusipeli() {
  ruudut = [
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " ",
  " "
  ];
  for (var i = 0; i < ruutu.length; i++) {
  ruutu[i].innerHTML = " ";
  pelaaja = "X";
  document.getElementById("vuoro").innerHTML = "Pelaajan X vuoro";
  document.getElementById("pelaajan").innerHTML = "ruudun nro.";
  document.getElementById("pbar").style.width = 0;
  //ruutu[i].style.backgroundColor= "white";
  ruutu[i].classList.remove("voittoväri", "p1väri", "p2väri");
  }
  if (round == 1) {
  round = 2;
  } else {
  round = 1;
  }
  }
  function move() {
  var elem = document.getElementById("pbar");
  var aika = setInterval(frame, 100);
  pituus1 = 1;
  var p = pelaaja;
  var r = round;
  function frame() {
  if (pituus1 >= 100) {
  clearInterval(aika);
  aikaloppui();
  } else if (p != pelaaja || r != round) {
  clearInterval(aika);
  } else {
  pituus1++;
  elem.style.width = pituus1 + "%";
  }
  }
  }
  function aikaloppui() {
  document.getElementById("pbar").style.width = 0;
  document.getElementById("pelaajan").innerHTML = "Aikasi loppui";
  if (pelaaja == "X") {
  pelaaja = "O";
  document.getElementById("vuoro").innerHTML = "Pelaajan O vuoro";
  move();
  } else {
  pelaaja = "X";
  document.getElementById("vuoro").innerHTML = "Pelaajan X vuoro";
  move();
  }
  }